<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--  Usamos nuestra hoja de estilo para poder acomodar el footer -->
    <link rel="stylesheet" href="./css/estilo.css">
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="teal lighten-4">
          <div class="nav-wrapper ">
            <button data-target="slide-out" class="sidenav-trigger teal lighten-4 btn-flat btn-large"><i class="material-icons">menu</i></button>
            <a href="#" class="brand-logo black-text">Sistema De Notificaciones UNRC</a>
          </div>
        </nav>
      </div>
    </header>
    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
      <div class="background">
        <img class="responsive-img" src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples33.png">
      </div>
      <a href="#user"><img class="circle" src="https://w7.pngwing.com/pngs/527/663/png-transparent-logo-person-user-person-icon-rectangle-photography-computer-wallpaper.png"></a>
      <a href="#name"><span class="white-text name"><%= @userName.name %></span></a>
      <a href="#email"><span class="white-text email"><%= @userName.email %></span></a>
      </div></li>
      <li><ul class="collapsible"><li>
        <div class="collapsible-header">
          <a class="black-text"><i class="material-icons">person_add</i>Editar Perfil</a>
        </div>
        <div class="collapsible-body">
          <form class="card-body" for="validation01" method="POST" action="/editNewUser">
            <div class="form-group container ">
              <label class="black-text">Nombre</label>
              <input type="text" class="form-control rounded-pill black-text" name="name" placeholder="<%= @userName.name %>">
            </div>
            <div class="form-group">
              <label class="black-text">Apellido</label>
              <input type="text" class="form-control rounded-pill" name="surname" placeholder="<%= @userName.surname %>">
            </div>
            <div class="form-group">
              <label class="black-text marginLavel">DNI</label>
              <input type="number" class="form-control rounded-pill"  name="dni"placeholder="<%= @userName.dni %>">
            </div>
            <div class="form-group">
              <label class="black-text">Email</label>
              <input type="email" class="form-control rounded-pill"  name="email"placeholder="<%= @userName.email %>">
            </div>
            <div class="form-group">
              <label class="black-text">Contraseña</label>
              <input type="password" class="form-control rounded-pill" name="password" placeholder="**********">
            </div>
            <div class="form-group">
              <label class="black-text">Rol</label>
              <select class="form-control rounded-pill" name="rol" placeholder="Ingrese su Rol en la UNRC">
                <option class="black-text" value="Estudiante">Estudiante</option>
                <option value="Profesor">Docente</option>
                <option value="Profesor">No Docente</option>
                <option value="Administrativo">Administrativo</option>
              </select>
            </div>
            <div class="form-group center">
              <a type="submit" class="btn teal lighten-4 ">Guardar</a>
            </div>
          </form>
          <form class="card-body" action="/delete_user" method="post">
            <input type="number" class="form-control rounded-pill"  name="dni"placeholder="<%= @userName.dni %>">
            <input type="email" class="form-control rounded-pill"  name="email"placeholder="<%= @userName.email %>">
            <div class="form-group center" >
              <a type="submit" class="btn teal lighten-4 ">Eliminar cuenta</a>
            </div>
          </form>
        </div></li>
      </ul></li>
      <li><a class="black-text" href="/all_document">Documentos</a></li>
      <li><a class="black-text" href="/notificaciones">Notificaciones</a></li>
      <li><a class="black-text" href="/subscriptions">Cartegorias</a></li>
      <li><a class="black-text" href="/category">Modificar Categorias</a></li>
      <li><ul class="collapsible"><li>
          <div class="collapsible-header">
            <a class="black-text"><i class="material-icons">person_add</i>Crear Usuario</a>
          </div>
          <div class="collapsible-body">
            <form class="card-body" for="validation01" method="POST" action="/newUserAdmin">
              <div class="form-group">
                <label class="black-text">Nombre</label>
                <input type="text" class="form-control rounded-pill black-text" name="name" placeholder="Ingrese su Nombre">
              </div>
              <div class="form-group">
                <label class="black-text">Apellido</label>
                <input type="text" class="form-control rounded-pill" name="surname" placeholder="Ingrese su Apellido">
              </div>
              <div class="form-group">
                <label class="black-text marginLavel">DNI</label>
                <input type="number" class="form-control rounded-pill"  name="dni"placeholder="Ingrese su DNI">
              </div>
              <div class="form-group">
                <label class="black-text">Email</label>
                <input type="email" class="form-control rounded-pill"  name="email"placeholder="Ingrese su Email">
              </div>
              <div class="form-group">
                <label class="black-text">Contraseña</label>
                <input type="password" class="form-control rounded-pill" name="password" placeholder="**********">
              </div>
              <div class="form-group">
                <label class="black-text">Rol</label>
                <select class="form-control rounded-pill" name="rol" placeholder="Ingrese su Rol en la UNRC">
                  <option class="black-text" value="Estudiante">Estudiante</option>
                  <option value="Profesor">Docente</option>
                  <option value="Profesor">No Docente</option>
                  <option value="Administrativo">Administrativo</option>
                </select>
              </div>
              <div class="form-group">
                <label>Permiso</label>
                <select class="form-control" name="type" required>
                  <option value="Usuario">Usuario</option>
                  <option value="Administrador">Administrador</option>
                </select>
              </div>
              <div class="form-group center">
                <a type="submit" class="btn teal lighten-4">Crear</a>
              </div>
            </form>
          </div></li>
        </ul></li>
      <li><a class="black-text" href="/logout">Cerrar Sesión</a></li>
      <li><div class="center">
      <a class="black-text" href="https://www.facebook.com/DARKNetflix/?hc_ref=ARTLwXrsx--tE3UwOwh3icoTxW6DrKYVbVoxlvXeSoxdm-JsWsnADNCqJRP59mqXrhE&fref=nf&__tn__=kC-R"><i class="material-icons">facebook</i></a>
      <a class="black-text" href="https://twitter.com/DarkNetflixES?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="material-icons">facebook</i></a>
      <a class="black-text" href="https://www.instagram.com/darknetflix/?hl=es-la"><i class="material-icons">facebook</i></a>
    </div></li>
  </ul>
  <main class="teal lighten-5">
    <%= yield %>
  </main>
  <footer class=" main body page-footer teal lighten-4">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Sistema De Notificaciones UNRC</h5>
        <p class="grey-text text-darken-3">  UNIVERSIDAD NACIONAL DE RÍO CUARTO / RUTA NAC. 36 - KM. 601 / RÍO IV - CÓRDOBA - ARGENTINA.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="https://www.unrc.edu.ar/">Universidad Nacional de Río Cuarto</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text text-darken-3">
      © 2020 Copyright Text
      <a class="grey-text text-darken-3 right" href="#!">Mas enlaces</a>
      </div>
    </div>
  </footer>
  <!-- <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div> -->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--JavaScript con SideNav y WebSocket -->
  <script type="text/javascript" src="./scripts/myscript.js"></script>
  </body>
</html>
